* {
  padding: 0;
  margin: 0;
}

/* NAVBAR */
.nav-item {
  font-size: 150%;
}
.navbar-brand {
  font-size: 250%;
}
.dropdown-menu {
  margin-left: -70px;
  background-color: rgb(201, 226, 253);
}

/* -----   OUR CLIENTS   ---- */
.campus {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}
.campus-col {
  flex-basis: 32%;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}
.campus-col img {
  width: 70%;
  display: block;
  margin-left: 20%;
}

.row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

/* OUR PARTNERS */
.students {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}
.student-col {
  flex-basis: 45%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
  background: rgb(185, 208, 241);
  padding: 25px;
  cursor: pointer;
  display: flex;
}
.student-col img {
  border-radius: 50%;
  height: 50px;
  margin-left: 5px;
  margin-right: 30px;
}
.student-col p {
  padding: 0;
}
.student-col h3 {
  margin-top: 15px;
  text-align: left;
}
.student-col .fa {
  color: rgb(211, 207, 8);
}

/* 
  -------   FOOTER   ---- */

.footer {
  width: 100%;
  text-align: center;
  padding: 30px 0;
  background-color: rgb(228, 236, 247);
}
.footer h4 {
  margin-bottom: 25px;
  margin-top: 20px;
  font-weight: bold;
  font-size: 50px;
}
.icons .fa {
  color: rgb(49, 10, 223);
  margin: 0 13px;
  padding: 18px 0;
  cursor: pointer;
}
.fa-heart-o {
  color: rgb(255, 0, 0);
}

.bodyForm {
  margin-left: 33%;
  margin-top: 10%;
  width: 35%;
}
